<li id="feed_item_<%= feed_item.id %>" class="snapshot">
  <div class="snapshot"><% if feed_item.image_url %><img src="<%= feed_item.image_url %>" alt="Snapshot"/><% end %></div>
  <div class="feed_item_text"><%=h feed_item.text %></div>
</li>
