<style type="text/css">
* {
  font-family: helvetica;
}

ul#feed_items {
  list-style-type: none;
  width: 660px;
  margin: 0 auto;
  padding: 0;
}

ul#feed_items li {
  padding: 10px;
  margin: 0 0 1em 0;
  overflow: hidden;
  position: relative;
  background-color: #ccc;
}

.feed_item_wrapper {
  margin-top: 10px;
  overflow: hidden;
}

.feed_item_text {
  font-size: 24px;
  border: 0;
  margin: 0;
  color: #333;
}

.profile_image {
  float: left;
  width: 48px;
  height: 48px;
  background-color: #333;
}

.profile_image img {
  width: 48px;
  height: 48px;
}

.twitter .feed_item_text {
  margin-left: 58px;
}

.snapshot .feed_item_text,
.flickr .feed_item_text {
  margin-top: 10px;
}

.actions {
  clear: both;
}
</style>
<ul id="feed_items">
<% @feed_items.each do |feed_item| %>
<li class="<%= feed_item.source %>">
<%
  partial = case feed_item.source
  when 'snapshot'
    'snapshot'
  when 'twitter'
    'tweet'
  when 'flickr'
    'photo'
  else
    'sms'
  end
  concat render :partial => partial, :locals => {:feed_item => feed_item} if partial
%>
<%= render :partial => 'actions', :locals => {:feed_item => feed_item} if is_admin? %>
</li>
<% end %></ul>
