<html>
<head>
<title>uo one show<%= ": #{@page_title}" if @page_title %></title>
<style type="text/css">
body {
  margin: 0;
  padding: 10px;
}
</style>
<%= stylesheet_link_tag 'main' %>
<%= yield :head %>
</head>
<body>
<%= yield %>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3527365-5");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
