<html>
<head>
<title>one show uo<%= ": #{@page_title}" if @page_title %></title>
<style type="text/css">
body {
  margin: 0;
  padding: 10px;
}

textarea.feed_item_text {
  height: 200px;
  background-color: #ccc;
  outline-style: none;
  width: 640px;
}
</style>
<%= yield :head %>
</head>
<body>
<%= yield %>
</body>
</html>
