<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag 'rjs' %>
<%= javascript_include_tag :defaults %>

<style type="text/css">
#log {
  width: 500px;
  height: 300px;
  overflow: auto;
}

#input {
  width: 500px;
}

.event {
  color: #0000ff;
}
.sent {
  color: #888888;
}
</style>

<pre id="log"></pre>
<form id="input_form"><input type="text" id="input"/></form>

<% javascript_tag do %>
var logElt = $('log');

var onEvent = function(callback) {
  logElt.insert(new Element('span', {'class': 'event'}).update(callback));
  logElt.insert('\n');
}

rjs.swfUrl = '/swfs/rjs.swf';

var send = function(message) {
  logElt.insert(new Element('span', {'class': 'sent'}).update(message));
  logElt.insert('\n');

  rjs.send(message);
};

onEvent('connecting');
rjs.connect('localhost', 1843, {
  onSocketConnect: function(callback) {
    onEvent('connected');
    send('server subscribe *');
  },

  onEvent: onEvent,

  onReceive: function(data) {
    logElt.insert(data + '\n');
    logElt.scrollTop = logElt.scrollHeight;
  }
});

$('input_form').observe('submit', function(event) {
  event.stop();
  var value = $('input').value;

  send(value);

  $('input').value = '';
});
<% end %>
