<% content_for :head do %>
<% @page_title = 'console' %>
<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag 'rjs' %>
<%= javascript_include_tag :defaults %>
<% end %>
<style type="text/css">
#log {
  width: 500px;
  height: 300px;
  overflow: auto;
}

#input {
  width: 500px;
}

.event {
  color: #0000ff;
}
.sent {
  color: #888888;
}
</style>

<p><button id="connect">Connect</button> <button id="disconnect">Disconnect</button></p>

<pre id="log"></pre>

<form id="input_form">
  <input type="text" id="input"/>
  <p><input type="checkbox" id="log_sent" checked="true"/> <label for="log_sent">Log sent messages</label></p>
  <p><input type="checkbox" id="log_time"/> <label for="log_time">Include time</label></p>
  <p><button id="clear_log">Clear</button></p>
</form>

<%= javascript_include_tag 'console' %>
