<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag :defaults %>

<div id="live_display"></div>

<%= javascript_tag "initLive({messagesUrl: #{messages_url(:format => :json).to_json}})" %>
